<!-- content.course.handlebars -->
<div class="reading_content">
    <div class='breadcrumb'>
      <span class="material-symbols-outlined">
        <a class='hover:underline' href='/'>home</a>
      </span>
        >
        {{#if breadcrumb.courseName}}
            <a class='hover:underline'
               href='/course/{{path.id}}/about?ref={{path.refBranch}}'>{{breadcrumb.courseName}}</a>
        {{/if}}
        {{#if_not_equal path.contentSlug 'about'}}
            {{#if ../breadcrumb.contentName }}
                >
                <a class='hover:underline'
                   href='/course/{{../../path.id}}/{{../../path.contentSlug}}?ref={{../../path.refBranch}}'>{{../../breadcrumb.contentName}}</a>
            {{/if}}
        {{/if_not_equal }}
        {{#if breadcrumb.componentName}}
            >
            <a class='hover:underline'
               href='/course/{{path.code}}/{{path.contentSlug}}/{{path.componentSlug}}?ref={{path.refBranch}}'
            >{{breadcrumb.componentName}}</a>
        {{/if}}
    </div>

    <!-- Refers to the "content" option in the app.js file, which is passed along with every res.render() function.
          The "content" option contains the readme.md file fetched with the GitHub API, which is decoded and its Markdown is rendered. -->
    <div id="markdown-content">
        {{#unless component}}
            <h3>Midagi läks valesti. Lehekülje sisu ei ole võimalik laadida.</h3>
            <p>Õppejõud peab üle vaatama kursuse seadistused (config fail, kaustade nimetused, failide nimetused).</p>
        {{/unless }}
        {{{component}}}

    </div>

    <!-- NB! Sources are sent only with "Teemade endpointid" axios call. If sourcesJSON stays NULL (is false), then content.handlebars does not display "Allikad"" div. If sourcesJSON gets filled (is true), then "Allikad" div is displayed. -->
    {{#if sources}}
        <div class='sources pt-4'>
            <h4>Allikad:</h4>
            <ul class="markdown">
                {{#each sources}}
                    <li>
                        <a href='{{this.url}}'
                           class="markdown"
                           target='_blank'
                        >{{this.description}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <!-- NB! The course syllabus link from the config.json file is only displayed on the "about" / Course Information page. -->

    {{#if_equal path.contentSlug 'about'}}
        <div class=""><b>Ainekava: </b>
            <a class="flex items-center hover:text-link-action"
               href='{{../course.courseUrl}}' target='_blank'>{{../course.courseName}}
                ({{../course.courseCode}})<span class="material-symbols-outlined">open_in_new</span>
            </a>
        </div>
    {{/if_equal}}

    <!-- NB! Files are only displayed on the Additional Materials pages.
  Since GitHub adds a ".DS_Store" file to each folder and we don't want to display that file, it has been hard-coded to be excluded.

    Github raw download_url howto: https://stackoverflow.com/questions/73819136/how-do-i-get-and-download-the-contents-of-a-file-in-github-using-the-rest-api/73824136
    The download_url token changes every 7 days by GitHub's system: https://github.com/orgs/community/discussions/23845#discussioncomment-3241866-->
    {{#if files}}
        <div class='files pt-4'>
            <h3>Failid:</h3>
            <ul class="markdown">
                {{#each files}}
                    <li>
                        <a href="#"
                           class="markdown"
                           onclick="window.open(
                                   '{{this.download_url}}','_blank');"
                        >{{this.name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <br> <br>
    <!--
  {{backAndForwardPaths }}
        {{path.fullPath }}
  -->

    <div class='flex flex-wrap gap-4'>

        {{#ifInPaths path.fullPath backAndForwardPaths }}
            {{#if_not_equal ../path.fullPath ../backAndForwardPaths.[0].path }}
                <a class="btn btn-secondary" href="/course/{{../path.courseId}}/{{../returnPreviousPage ../path.fullPath
                                                                                                        ../backAndForwardPaths}}?ref={{../path.refBranch}}
                ">Eelmine</a>
            {{/if_not_equal }}

            {{#if_not_equal ../path.fullPath (last ../backAndForwardPaths) }}
                <a class="btn btn-primary"
                   href="/course/{{../path.courseId}}/{{../returnNextPage ../path.fullPath
                                                                          ../backAndForwardPaths}}?ref={{../path.refBranch}}
                ">Järgmine</a>
            {{/if_not_equal }}
        {{/ifInPaths }}

        {{#ifInPaths path.fullPath markAsDonePaths }}
            {{#unless (isTeacher ../user)}}
                {{#ifInMarkedComponents ../../path.componentUUId ../../markedAsDoneComponentsArr }}
                    <form method="POST" action="/remove-component-as-done" name="removeComponentAsDone"
                          id="removeComponentAsDone">
                        <!-- Hidden form inputs to send req.body values -->
                        <input type="hidden" name="courseId" id="courseId" value="{{../../../path.courseId}}">
                        <input type="hidden" name="componentSlug" id="componentSlug"
                               value="{{../../../path.componentSlug}}">
                        <input type="hidden" name="componentUUId" id="componentUUId"
                               value="{{../../../path.componentUUId}}">
                        <button name="markAsDone" class="btn btn-secondary">Eemalda märge</button>
                    </form>
                {{else }}
                    <form method="POST" action="/mark-component-as-done" name="markComponentAsDone"
                          id="markComponentAsDone">
                        <!-- Hidden form inputs to send req.body values -->
                        <input type="hidden" name="courseId" id="courseId" value="{{../../../path.courseId}}">
                        <input type="hidden" name="componentSlug" id="componentSlug"
                               value="{{../../../path.componentSlug}}">
                        <input type="hidden" name="componentUUId" id="componentUUId"
                               value="{{../../../path.componentUUId}}">
                        <input type="hidden" name="nextPagePath" id="nextPagePath"
                               value="/course/{{../../../path.courseId}}/{{../../../returnNextPage
                                       ../../../path.fullPath
                                       ../../../backAndForwardPaths}}?ref={{../../../path.refBranch}}
                        " >
                        <button name="markAsDone" class="btn btn-primary">Märgi tehtuks ja edasi</button>
                    </form>
                {{/ifInMarkedComponents }}
            {{/unless }}
        {{/ifInPaths }}

    </div>

</div>
<script src="/js/h5p/jquery.js"></script>
<script src="/js/h5p/h5p.js"></script>
<script src="/js/h5p/h5p-event-dispatcher.js"></script>
<script src="/js/h5p/h5p-x-api-event.js"></script>
<script src="/js/h5p/h5p-x-api.js"></script>
<script src="/js/h5p/h5p-content-type.js"></script>
<script src="/js/h5p/h5p-confirmation-dialog.js"></script>
<script src="/js/h5p/h5p-action-bar.js"></script>
<script src="/js/h5p/request-queue.js"></script>
<script src="/js/h5p/h5p-tooltip.js"></script>
<!--script src="https://h5p.org/sites/all/modules/h5p/library/js/jquery.js"></script>
<script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p.js"></script>
<script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-x-api.js"></script!-->
<script>
    var H5PIntegration = {
        'baseUrl': 'http://localhost:3000', // No trailing slash
        'url': '/',          // Relative to web root
        'postUserStatistics': true,         // Only if user is logged in
        //'ajaxPath': '/path/to/h5p-ajax',     // Only used by older Content Types
        'ajax': {
            // Where to post user results
            'setFinished': '/interactive-contents/123/results/new',
            // Words beginning with : are placeholders
            'contentUserData': '/interactive-contents/:contentId/user-data?data_type=:dataType&subContentId=:subContentId'
        },
        'saveFreq': 30, // How often current content state should be saved. false to disable.
        'user': { // Only if logged in !
            'name': 'User Name',
            'mail': 'user@mysite.com'
        },
        'siteUrl': 'http://localhost:3000', // Only if NOT logged in!
        'l10n': { // Text string translations
            'H5P': {
                'fullscreen': 'Fullscreen',
                'disableFullscreen': 'Disable fullscreen',
                'download': 'Download',
                'copyrights': 'Rights of use',
                'embed': 'Embed',
                'size': 'Size',
                'showAdvanced': 'Show advanced',
                'hideAdvanced': 'Hide advanced',
                'advancedHelp': 'Include this script on your website if you want dynamic sizing of the embedded content:',
                'copyrightInformation': 'Rights of use',
                'close': 'Close',
                'title': 'Title',
                'author': 'Author',
                'year': 'Year',
                'source': 'Source',
                'license': 'License',
                'thumbnail': 'Thumbnail',
                'noCopyrights': 'No copyright information available for this content.',
                'downloadDescription': 'Download this content as a H5P file.',
                'copyrightsDescription': 'View copyright information for this content.',
                'embedDescription': 'View the embed code for this content.',
                'h5pDescription': 'Visit H5P.org to check out more cool content.',
                'contentChanged': 'This content has changed since you last used it.',
                'startingOver': 'You\'ll be starting over.',
                'by': 'by',
                'showMore': 'Show more',
                'showLess': 'Show less',
                'subLevel': 'Sublevel'
            }
        },
        'loadedJs': [], // Only required when Embed Type = div
        'loadedCss': [],
        'core': { // Only required when Embed Type = iframe
            'scripts': ['jquery.js', 'h5p.js'],
            'styles': []
        }
    };
    window.addEventListener('message', function (event) {
        // Make sure the message is from the iframe

        if (event.data.source == 'react-devtools-content-script') return;

        // The 'data' property contains the message
        console.log('Received message:', event);
    });

    /*var h5p = new H5P.Player({
        id: 207,
        frame: document.querySelector('iframe')
    });

    h5p.on('ready', function () {
        var score = h5p.getScore();
        console.log('scoor', score);
        // Kuva skoor oma veebilehel
    });*/
    console.log(H5P);
    H5P.communicator.on('message', (m) => {
        console.log(m);
    });
    H5P.externalDispatcher.on('xAPI', function (event) {
        console.log(event.data);
        // Check if it was a completed event:
        if (event.data.statement.verb.display['en-US'] === 'completed') {
            // Extract the score:
            var score = event.data.statement.result.score.raw;
            console.log('Score:', score);
            // TODO: Send 'score' to your server and save it to your database
        }
    });
</script>