<div class="">
    <div class="mb-2">
        <div class="card-title p-2 flex items-center justify-between ">
            <h4 class="my-0">Loengu {{#if readme.sha }}muutmine{{else}}lisamine{{/if}}</h4>
            <div class="flex">
                <!--button class="btn btn-primary mr-4" onclick="document.getElementById('courseEditForm').submit()">
                    Salvesta
                </button!-->
                <!--button class="btn btn-primary"
                        title="Kustuta sisuteema"
                        onclick="deleteLesson('{{readme.slug}}')">
                    <i class="material-symbols-outlined text-xxxl" aria-hidden="true">delete</i>
                </button!-->
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <form action="/course-edit/{{course.id}}/lesson/{{readme.slug}}" method="post" id="courseEditForm">
            <div class="p-2">
                <div class="block mb-4">
                    <input type="hidden" name="courseId" id="courseId" value="{{course.id}}">
                    <input type="hidden" name="readme[sha]" value="{{readme.sha}}">
                    <input type="hidden" id="slug" value="{{readme.slug}}">
                    <input type="hidden" name="materials[sha]" value="{{materials.sha}}">
                    <label class="text-lg font-bold mb-4">
                        Loengu nimetus
                        <input type="text" name="lessonName" class="input-single" required
                               value="{{readme.data.name}}">
                    </label>

                    <label class="text-lg font-bold mb-4" for="component">Loengu kirjeldus</label>
                    <div id="tinymde_commandbar"></div>
                    <div class="txtcontainer w-full relative">
                        <textarea id="component" cols="30" rows="30"
                                  name="readme[content]">{{readme.content}}</textarea>
                    </div>
                </div>

                <div class="block mb-4">
                    <label class="text-lg font-bold mb-4">Kasutatud sisuteemad:</label>
                    <ul class="list-disc" id="conceptList">
                        {{#each readme.data.components}}
                            <li class="ml-4 pb-4 flex items-center justify-between">
                                <input type="hidden" name="components[]" value="{{this.uuid}}">
                                <a href="/show/{{this.uuid}}">{{this.name}}</a>
                                <button class="btn btn-primary ml-2 self-end" title="Eemalda sisuteema"
                                        type="button" onclick="deleteConcept(this)">
                                    <i class="material-symbols-outlined text-xxxl" aria-hidden="true">delete</i>
                                </button>
                            </li>
                        {{/each}}
                        <li class="flex w-100 items-end justify-between mb-2 border-t mt-4 pt-4">
                            <div>
                                <label class="text-lg font-bold mb-4" for="concepts">Lisa sisuteema:</label>
                                <select name="linkConcept" id="concepts" class="input-single">
                                    {{#each allConcepts}}
                                        <option value="{{this.uuid}}"
                                                data-name="{{this.name}}"
                                            {{#contains this.uuid ../readme.data.components}}
                                                disabled
                                            {{/contains}}
                                        >
                                            {{this.name}} - <span class="text-gray-500">{{this.course}}</span>
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                            <button class="btn btn-primary" title="Lisa uus sisuteema" type="button"
                                    onclick="addConcept()">
                                <i class="material-symbols-outlined text-xxxl" aria-hidden="true">add</i>
                            </button>
                        </li>
                    </ul>
                </div>

                <hr class="w-full py-4">

                <div class="block mb-4">
                    <label class="text-lg font-bold mb-4">Lisamaterjalid:</label>
                    <div id="tinymde_commandbar2"></div>
                    <div class="txtcontainer w-full">
                        <textarea id="additionalMaterials" cols="30" rows="30"
                                  name="materials[content]">{{materials.content}}</textarea>
                    </div>
                </div>
                <hr class="w-full py-4">

                {{> files-input files=files prefix="lessons" }}
            </div>
        </form>
    </div>
</div>
<script>
    const tinyMDE1 = new TinyMDE.Editor(
            { textarea: 'component' });

    const commandBar1 = new TinyMDE.CommandBar(
            { element: 'tinymde_commandbar', editor: tinyMDE1 });

    const tinyMDE2 = new TinyMDE.Editor(
            { textarea: 'additionalMaterials' });

    const commandBar2 = new TinyMDE.CommandBar(
            { element: 'tinymde_commandbar2', editor: tinyMDE2 });

    function addConcept() {
        const conceptList = document.getElementById('conceptList');
        const penultimateLi = conceptList.lastChild.previousSibling;
        const sel = document.getElementById('concepts');

        const newLi = document.createElement('li');
        newLi.classList.add('ml-4', 'pb-4', 'flex', 'items-center', 'justify-between');
        newLi.innerHTML = `
        <input type="hidden" name="components[]" value="${ document.getElementById('concepts').value }">
            <a href="/show/${ document.getElementById(
                'concepts').value }">${ sel.options[sel.selectedIndex].dataset.name }</a>
        <button class="btn btn-primary ml-2 self-end" title="Eemalda sisuteema"
                                        type="button" onclick="deleteConcept(this)">
                                    <i class="material-symbols-outlined text-xxxl" aria-hidden="true">delete</i>
                                </button>`;
        conceptList.insertBefore(newLi, penultimateLi);
        sel.options[sel.selectedIndex].disabled = true;
        sel.selectedIndex = -1;
    }

    function deleteConcept(el) {
        const li = el.closest('li');
        const disabledOption = li.querySelector('input[type="hidden"]').value; // Get the value of the disabled option

        const sel = document.getElementById('concepts'); // Get the select element
        const optionToEnable = sel.querySelector(`option[value="${ disabledOption }"]`); // Find the option to enable

        li.remove(); // Remove the list item
        optionToEnable.disabled = false; // Re-enable the option in the select element
    }

    function deleteLesson() {
        const slug = document.getElementById('slug').value;
        const id = document.getElementById('courseId').value;
        fetch(
                '/course-edit/' + id + '/lesson/' + slug,
                {
                    method: 'DELETE'
                }
        ).then((data) => {
            document.getElementById('modal').style.display = 'none';
            history.back();
        });

    }

    window.onload = function () {
        document.getElementById('saveBtn').innerHTML = 'Salvesta loeng';
        document.getElementById('delBtn').onclick = function () {
            document.getElementById('delMsg').innerText = 'Oled kindel, et tahad selle loengu kustutada?';
            document.getElementById('modal').style.display = 'flex';
        };
        document.getElementById('delOK').onclick = deleteLesson;
    };

</script>
