<form action="/course-edit/{{course.id}}" method="post" id="courseEditForm" enctype="multipart/form-data">
    <div class="card-title p-2 flex items-center justify-between mb-4">
        <h4 class="my-0">Üldandmete muutmine</h4>
    </div>
    <label class="text-lg font-bold">
            <span class="flex items-center">
                <i class="material-symbols-outlined mr-2">home</i>
                Kursuse nimi
            </span>
        <input type="text" name="courseName" class="input-single" required value="{{config.courseName}}">
    </label>

    <div class="text-lg font-bold mt-4 whitespace-nowrap">
        <span>
            <i class="material-symbols-outlined mr-2">link</i> Kursuse link:
        </span>
        <a href="{{config.courseUrl}}" target="_blank">{{config.courseUrl}}</a>
    </div>
    <hr class="my-4">

    <div class="block mb-4">
        <input type="hidden" name="courseId" id="courseId" value="{{course.id}}">
        <input type="hidden" name="readmeSHA" value="{{readme.sha}}">
        <input type="hidden" name="materialsSHA" value="{{materials.sha}}">
        <input type="hidden" id="readmeContent" name="readmeContent" value="{{readme.content}}"/>
        <input type="hidden" id="materialsContent" name="materialsContent" value="{{materials.content}}"/>
        <label>Üldinfo</label>
        <div id="editor1" class="bg-white text-system-black"></div>
    </div>

    <div class="block mb-4">
        <label>Lisamaterjalid:</label>
        <div id="editor2" class="bg-white text-system-black"></div>
    </div>
    {{> files-input files=files prefix="docs"}}
</form>

<div class="border-4 border-system-focus hidden"></div>
<script>
    const Editor = toastui.Editor;

    function createOisButton() {
        const button = document.createElement('button');
        button.type = 'button';
        button.className = 'toastui-editor-toolbar-icons last';
        button.style.backgroundImage = 'none';
        button.style.margin = '0';
        button.innerHTML = `<i class="material-symbols-outlined">sync</i>`;
        button.addEventListener('click', (ev) => {
            ev.preventDefault();
            fetch('/get-ois-content?courseId={{course.code}}', {
                method: 'get', headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => {
                if (res.ok) {
                    return res.json();
                }
                return Promise.reject(res); // 2. reject instead of throw
            }).then((res) => {
                editor1.setMarkdown(res.data);
                document.getElementById('readmeContent').value = res.data;
                console.log(res.data);
            }).catch((e) => {
                console.log(e);
            });
        });

        return button;
    }

    const editor1 = new Editor({
        usageStatistics: false,
        el: document.querySelector('#editor1'),
        height: '500px',
        initialEditType: 'markdown',
        initialValue: document.getElementById('readmeContent').value,
        toolbarItems: [
            ['heading', 'bold', 'italic', 'strike'],
            ['hr', 'quote'],
            ['ul', 'ol', 'task', 'indent', 'outdent'],
            ['table', 'image', 'link'],
            ['code', 'codeblock'],
            // Using Option: Customize the last button
            [
                {
                    el: createOisButton(),
                    //command: 'bold',
                    tooltip: 'Uuenda õisist'
                }]
        ],
        events: {
            change: () => {isFormDirty = true;}
        }
    });

    const editor2 = new Editor({
        el: document.querySelector('#editor2'),
        height: '500px',
        initialEditType: 'markdown',
        initialValue: document.getElementById('materialsContent').value
    });

    window.onload = function () {
        document.getElementById('saveBtn').innerHTML = 'Salvesta üldandmed';
        document.getElementById('delBtn').onclick = function () {
            document.getElementById('delMsg').innerText = 'Oled kindel, et tahad selle ainekursuse kustutada?';
            document.getElementById('modal').style.display = 'flex';
        };
        //document.getElementById('delOK').onclick = deleteCourse;
    };
</script>